.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 80%;
    margin-bottom: 2rem;
    position: fixed;
    top: 2rem;
    left: 10%;
    z-index: 10;
    padding: 0.5rem 2rem;
}

.brandContainer img{
    width: 60px;
    height: 60px;
    margin-left: 1rem;
}

.brandContainer{
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    flex: 2;
}

.brandContainer a{
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

.login{
    border: none;
    background: #2f4cad;
    outline: none;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoutButton{
    text-decoration: none;
    padding: 0.3rem 1rem;
    background-color: #e80051;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.profile h6{
    font-size: 1.5rem;
    color: #302f2f;
}

.loginLogout{
    flex: 1;
}

.avatar{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    
}





@media screen and (max-width: 500px) {
    .nav{
        max-width: 80%;

    }

    .nav img{
        width: 40px;
        height: 40px;
        margin-left: 0.7rem;
    }
    
    .nav h2{
        font-size: 2rem;
        font-weight: 300;
    }

}